@import 'settings';

$box-border: 0.1rem solid #cfcecf;
$ball-color: #bfbfbf;

$scale: 5rem;

.left-sidebar {
  @include transition-effect(0.75s);
  height: 100vh;
  width: $left-sidebar-width;
  position: fixed;
  top: 0;
  left: 0.1rem;
  overflow: hidden auto;
  overscroll-behavior-y: contain;
  border-right: $border-light;
  z-index: 1;

  .ls-logo-theme {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
    width: inherit;
    height: 6.4rem;
    margin: 0 auto;
    position: relative;

    a.ls-logo {
      width: 4.8rem;
      height: 2.4rem;
      margin-left: 1.6rem;
    }

    .theme-container {
      margin-right: 1.6rem;

      .box {
        @include common(column, center, null, $scale, $scale/2, $light-color);
        border-radius: $scale/4;
        cursor: pointer;
        border: $box-border;

        .ball {
          @include common(null, null, null, $scale/2, $scale/2, $ball-color);
          position: absolute;
          border-radius: 50%;
          z-index: 1;
        }

        .scenary {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0.4rem 0.4rem 0 0.4rem;
          svg {
            width: $scale/3;
            font-size: 1.4rem;
            color: #ffd347;
            filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.2));
          }
        }
      }
    }
  }

  .ls-auth-setting {
    @include flexCenter;
    @include justify-content(space-between);
    width: inherit;
    height: 5.6rem;
    background-color: $light-gray-bg-color;
    color: $dark-text-color;

    .ls-auth {
      @include display-flex;
      @include align-items(center);
      max-width: calc(100% - 3.8rem);
      margin-right: 0.8rem;

      &-main {
        @include fitContentHeight;
        @include fitContentWidth;
        margin-left: 1.6rem;
        margin-right: 0.6rem;
        cursor: pointer;

        p {
          font-size: 1.25rem;
          font-weight: 500;

          span {
            @include transition-effect(0.1s);
            @include hoverMainColor;
          }
        }
      }
    }

    .ls-setting {
      @include fitContentWidth;
      @include transition-effect(0.1s);
      @include hoverMainColor;
      margin-right: 1.8rem;

      &-icon {
        @include display-flex;
        font-size: 1.6rem;
        opacity: 0.8;
        cursor: pointer;
        & svg {
          @include transition-effect(0.35s);
        }
      }
    }
  }

  .ls-main {
    width: inherit;
    overflow: hidden;
    .ls-navbar {
      padding: 1.6rem 0;
      margin-bottom: 5rem;

      ul.nav-menu {
        cursor: pointer;

        li {
          margin-bottom: 0.4rem;

          a.active {

            .nav-item {
              background-color: rgba(28,30,32,0.05);
            }

            .nav-active-item {
              background-size: 0.2rem 100%;
            }
          }

          .nav-item {
            @include display-flex;
            @include align-items(center);
            position: relative;
            width: $left-sidebar-width;
            height: 3.2rem;
            padding: 0.5rem 0;
            background-color: transparent;

            .nav-active-item {
              @include transition-effect(0.16s);
              position: absolute;
              top: 0;
              left: 0;
              height: 3.2rem;
              width: 0.2rem;
              border-radius: 0.2rem;
              background: linear-gradient(to right, #2daaed 0%, #2daaed 100%) no-repeat;
              background-size: 0.2rem 0;
              background-position: 50% 50%;
              overflow: hidden;

              &.isActive {
                background-size: 0.2rem 100%;
              }
            }

            &:hover .nav-active-item {
              background-size: 0.2rem 100%;
            }

            .nav-content {
              @include display-flex;
              @include align-items(center);
              @include transition-effect(0.5s);
              @include dark-color-text(0.5);
              width: 17.8rem;
              height: 2.4rem;
              margin-left: 0.8rem;
              background-size: 0 2rem;
              background-position: 0% 50%;

              svg {
                @include transition-effect(0.3s);
                font-size: 1.6rem; 
                position: absolute;
                right: 1rem;
              }

              svg.show-detail {
                transform: rotate(180deg);
              }

              i {
                font-size: 2.2rem;
                margin: 0 0.6rem;
              }

              i.search {
                @include transparentIcon(#00b509, #77e254);
              }

              i.home {
                @include transparentIcon(#287BE5, #29D7FF);
              }

              i.discovery {
                @include transparentIcon(#FF9B2D, #FFE443);
              }

              i.today-selection {
                @include transparentIcon(#1A82E5, #DF22F2);
              }

              i.chart {
                @include transparentIcon(#F44336, #FFB353);
              }

              i.music-4u {
                @include transparentIcon(#27B3E2, #13F8E5);
              }

              p.nav-name {
                @include dark-color-text(0.88);
                @include userSelect(none);
                font-size: 1.3rem;
                margin-left: 0.8rem;
                margin-top: 0.1rem;
                text-transform: capitalize;
                line-height: 2rem;
              }
            }
          }

          .nav-item-detail {
            @include transition-effect(0.3s);
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            height: 0;


            &-main {
              @include display-flex;
              @include align-items(center);
              @include userSelect(none);
              width: $left-sidebar-width;
              height: 3.2rem;
              position: relative;
              text-transform: capitalize;
              &-hover {
                @include transition-effect(0.3s);
                top: 1.4rem;
                left: 4.8rem;
                width: 0.4rem;
                height: 0.4rem;
                position: absolute;
                border-radius: 100%;
                background-color: transparent;
              }

              &:hover .nav-item-detail-main-hover {
                background-color: #2DAAED;
              }

              span {
                @include dark-color-text(0.5);
                font-size: 1.3rem;
                padding-left: 6.6rem;
              }
            }

            &.show-detail {
              visibility: visible;
              opacity: 1;
              height: 12.8rem;
            }
          }

          .nav-item-detail.today-selection-detail.show-detail {
            visibility: visible;
            opacity: 1;
            height: 9.6rem;
          }
        }
      }
    }
  }
}

.pm-container {
  .sm-container {
    @include dark-color-text(0.55);
    box-shadow: $box-shadow-effect;
    margin-left: 1.2rem;
    border-radius: 0.4rem;
    background-color: $light-color;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 400;

    .sm-item {
      @include commonModal;
      @include transition-effect(0.1s);
      @include display-flex;
      @include align-items(center);
      padding: 1rem 4.8rem;
      padding-left: 1.2rem;
      user-select: none;
      position: relative;

      .sm-icon {
        margin-right: 0.4rem;
        font-size: 1.5rem;
      }

      span {
        font-weight: 600;
      }

      .ar-icon {
        position: absolute;
        right: 0;
        margin-right: 0.8rem;
      }

      .sm-sub-items {
        @include transition-effect(0.2s);
        position: absolute;
        top: 0;
        left: 100%;
        background-color: $light-color;
        border-radius: 0.4rem;
        box-shadow: $box-shadow-effect;

        opacity: 0;
        visibility: hidden;
        transform: scale(0.9);

        .sm-sub-item {
          @include commonModal;
          display: flex;
          align-items: center;
          width: 15rem;
          height: 3.9rem;
          padding: 0.7rem 0.8rem;
        }
      }
    }

    .sm-languages:hover .sm-lang-items,
    .sm-themes:hover .sm-theme-items {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}
