@import 'settings';

.topic-slider-container {
  .topic-slide-img {
    position: relative;
    width: 100%;
    padding-top: 31.25%;
    -webkit-transition: background-image 300ms linear,background-color 300ms linear;
    transition: background-image 300ms linear,background-color 300ms linear;
    will-change: background-image,background-color;
  }

  .topic-desc {
    margin: 2.4rem 3.2rem 1.0rem;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    &.is-read-more {
    -webkit-line-clamp: 100;
    }
  }
  svg.show-detail {
    @include transition-effect(0.15s);
    @include transform-effect(rotate(180deg));
  }
}