@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleAndFadeIn {
  0% {
    width: 36rem;
    height: 42rem;
    opacity: 0.5;
  }

  100% {
    width: 44rem;
    height: 50rem;
    opacity: 1;
  }
}