@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleAndFadeIn {
  0% {
    width: 40rem;
    height: 44rem;
    opacity: 0.5;
  }

  100% {
    width: 46rem;
    height: 50rem;
    opacity: 1;
  }
}