.common-section {
  position: relative;
  padding-top: 4rem;
}

.common-header {
  padding: 0 3.2rem;
}

.common-title {
  font-size: 2.2rem;
  font-weight: 700;
}

.common-main {
  margin: 1.6rem 3.2rem 0px;
}

.inherit-width {
  position: relative;
  width: inherit;
  height: auto;
}