// Toastify
.Toastify__toast-body {
  font-size: 1.4rem;
}

// MUI
.list-songs.MuiGrid-spacing-xs-2>.MuiGrid-item {
  padding: 2px 8px;
}

.MuiGrid-spacing-xs-2 {
  margin: -8px !important;
}

.list-playlists.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 8px;
}