@mixin commonMainOutlet {
	@include transition-effect(0.75s);
	width: calc(100% - $left-sidebar-width - $right-sidebar-width);
	margin-left: $left-sidebar-width;
	margin-right: $right-sidebar-width;
	padding-bottom: 0.8rem;
	min-height: 100vh;
}

@mixin useBorder($witdh: 0.1rem, $style: solid) {
	border-width: $witdh;
	border-style: $style;
}