@import 'settings';

.favorite-main {
  @include commonMainOutlet;
  position: relative;

  .fm-container {
    padding-top: 2.4rem;
    margin-bottom: calc(#{$footer-height} * 2);
  }

  .fm-content {
    padding: 4rem 3.2rem 0;
  }

  .ft-container {
    position: absolute;
    bottom: 0.8rem;
    width: 100%;
  }
}