@import 'settings';

.favorite-main {
  position: relative;

  .fm-container {
    padding-top: 1.6rem;
  }

  .fm-content {
    padding: 4rem 3.2rem 5.6rem;
  }

  .ft-container {
    position: absolute;
    bottom: 0.8rem;
    width: 100%;
  }
}