@import 'settings';

.song-fav-container {

  .sf-header {
    position: relative;

    .sf-thumb-img {
      width: 16rem;
      margin-right: 2.4rem;
    }

    .sf-info {
      position: relative;
      height: 17.2rem;

      .sf-total-number {
        margin-top: 1.4rem;
      }
    }
  }
}