@import '_setting.scss';

.hp-right-sidebar {
	display: none;
	height: 100vh;
	width: $right-sidebar-width;
	// background-color: #FAFAFA;
	background-color: #555;
	position: fixed;
	top: 0;
	right: 0;
}
