@import '_setting.scss';

.sc-container {
	width: 100%;
	height: calc(calc(100vw - 45rem) * 2 / 5 + 3.8rem);
	padding-top: 24px;

	.sc-img-container {
		.sc-img-slider {
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	&:hover .customArr {
		opacity: 1;
	}

	.slick-dots {
		bottom: -30px;
		li {
			margin: unset;
		}
	}
}
