@import 'settings';

.sc-container {
	width: 100%;
	height: calc(calc(100vw - 35rem) * 2 / 5 + 3.8rem);
	padding: 24px;

	.sc-img-container {
		.sc-img-slider {
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 8px;
		}
	}

	&:hover .customArr {
		opacity: 1;
	}

	.slick-dots {
		bottom: -30px;
		li {
			@include transition-effect(0.25s);
			margin: 0 -2px;


			&.slick-active {
				margin-right: 5px;
			}
		}
	}
}
