@import 'sass/abstracts/mixins';

$main-bg-color-dark: #1d2631;
$border-dark: rgba(244, 246, 248, 0.05);
$dark-color: #1e1e1e;
$darkmode-text-color: rgba(244, 246, 248, 0.88);

// Left sidebar
$box-border-dark: 0.1rem solid #303130;
$ball-color-dark: #404040;

body[data-theme='dark'] {
  color: $darkmode-text-color;
  .hp-container {
    background-color: $main-bg-color-dark;
  }

  .left-sidebar,
  .right-sidebar,
  .ft-container {
    border-color: $border-dark;
  }

  .left-sidebar {
    .box {
      background-color: $dark-color !important;
      border: $box-border-dark !important;

      .ball {
        background-color: $ball-color-dark !important;
      }
    }

    @mixin dark-color-text($value) {
      color: rgba(244, 246, 248, $value);
    }
  }

  .ls-auth-setting,
  .nav-name {
    color: rgba(244, 246, 248, 0.88) !important;
  }

  .sd-three-dots {
    color: rgba(244, 246, 248, 0.55) !important;
  }

  .nr-artist-name,
  .nr-date-release,
  .ma-active-artists,
  .ma-watch-all,
  .vd-artists,
  .sd-artists span,
  .sd-view-count svg,
  .sc-view-number,
  .tp-nav,
  .ht-nav,
  .t1-nav,
  .ft-container,
  .nav-content,
  .nav-item-detail-main span {
    color: rgba(244, 246, 248, 0.5) !important;
  }

  .disabled {
    color: rgba(244,246,248,0.2) !important;
  }

  .ma-watch-all {
    border: 0.1rem solid rgba(244, 246, 248, 0.1) !important;
  }

  .nr-active-slide,
  .sd-main {
    background-color: rgba(244, 246, 248, 0.02) !important;
  }

  .ma-active-position {
    color: rgba(244, 246, 248, 0.05) !important;
  }

  .so-more-options-box, .vd-more-options-box {
    background-color: rgb(24, 34, 45) !important;

    ul li svg {
      color: rgba(244, 246, 248, 0.5) !important;
    }
  }
  li:not(.slick-active) {
    .customDots {
      background-color: rgba(244, 246, 248, 0.1) !important;
    }
  }
}
