@import 'settings';

$login-header-hight: 6rem;

.overlay {
  @include animation(fadeIn, 0.2s, linear, forwards);
  .af-container {
    .af-main {
      @include display-flex;
      @include flexDirection(column);
      @include animation(scaleAndFadeIn, 0.1s, linear, forwards);

      background-color: $light-color;
      position: relative;
      border-radius: 0.4rem;

      .af-header {
        @include flexCenter;
        height: $login-header-hight;
        color: $dark-text-color;
        border-radius: 0.4rem 0.4rem 0 0;
        border-bottom: $border-light;

        h4 {
          @include flexCenter;
          width: 100%;
          height: 100%;
          font-size: 1.6rem;
          font-weight: bold;
        }

        button.close-btn {
          @include display-flex;
          background-color: transparent;
          position: absolute;
          margin: 1.2rem;
          right: 0;
          border: 0;

          svg {
            font-size: 2rem;
            color: rgba(28, 30, 32, 0.5);
          }
        }
      }

      .af-content {
        @include flexCenter;
        @include flexDirection(column);
        height: calc(100% - $login-header-hight);
        margin-top: 4rem;

        .af-login-form {
          @include flexCenter;
          width: 75%;
        }
      }
    }
  }
}
