@import '_settings.scss';

.nr-container {
  .nr-title {
    @include display-flex;
    @include align-item(center);
    
    margin-left: 32px;
    font-size: 24px;
    color: $dark-text-color;
    font-weight: 700;
    text-transform: capitalize;
  }
  .nr-main {

  }
}