@import 'settings';

$active-img-width: 16rem;

.nr-container {
	.nr-title {
    @include main-title-scss;
		user-select: none;
	}
	.nr-main {
		margin-top: 1.6rem;

		.nr-active-slide {
			position: relative;
			height: 20rem;
			padding: 2rem 4rem;
			background-color: rgba(28, 30, 32, 0.02);
			margin-bottom: 2.4rem;

			.slick-slide {
				visibility: hidden;

				&.slick-active {
					visibility: visible;
				}
			}

			.nr-active-container {
				display: flex !important;
				.nr-active-img {
					position: relative;
					overflow: hidden;
					width: $active-img-width;
					height: $active-img-width;
					margin-right: 4rem;
					border-radius: 0.4rem;

					img {
						vertical-align: middle;
						width: 100%;
						height: auto;
						border-radius: 0.4rem;
					}
				}

				.nr-active-detail {
					width: calc(100% - #{$active-img-width});

					h4 {
						@include transition-effect(0.1s);
						@include hoverMainColor;
						font-size: 1.4rem;
						line-height: 1.8rem;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						vertical-align: text-bottom;
					}

					.nr-artist-container {
						.nr-artist-main {
							@include display-flex;
							@include align-items(center);

							margin-top: 1rem;
							.nr-artist-img-container {
								display: inline-block;
								.nr-artist-img {
									display: inline-block;
									width: 2.4rem;
									height: 2.4rem;
									border: 0.1rem solid rgba(255, 255, 255, 1);
									border-radius: 50%;
									background-repeat: no-repeat;
									background-size: cover;
									margin-right: -0.8rem;

									img {
										width: 100%;
										border-radius: 50%;
									}
								}
							}

							.nr-artist-name {
								line-height: inherit;
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
								font-size: 1.3rem;
								margin-left: 1.2rem;
								a {
									span {
										@include transition-effect(0.1s);
										@include hoverMainColor;
									}
								}
							}
						}
					}

					.nr-date-release {
						@include display-flex;
						@include align-items(center);

						margin-top: 0.5rem;
						font-size: 1.4rem;
						user-select: text;
						svg {
							margin-right: 0.4rem;
						}
					}

					.line-throught {
						height: 0.1rem;
						background-color: rgba(28, 30, 32, 0.05);
						margin-top: 1.2rem;
					}
				}
			}
		}
	}

	.nr-thumb-slider {
		@include flexCenter;
    margin-bottom: 4rem;

		.nr-thumb-img {
			position: relative;
			border-radius: 0.4rem;
			margin: 0 0.6rem;
			width: unset !important;
			img {
				vertical-align: middle;
				border-radius: 0.4rem;
				width: 8rem;
			}

			.blur {
				@include flexCenter;
				@include transition-effect(0.2s);
				position: absolute;
				top: 0;
				width: 8rem;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.3);
				color: #fafafa;
				overflow: hidden;
				border-radius: 0.4rem;
				font-size: 2rem;
				visibility: hidden;
				opacity: 0;
			}
		}

		.slick-current {
			.blur {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
