@import 'settings';

.cusArrow {
  @include transition-effect(0.1s);
  cursor: pointer;

  &:hover {
    color: $main-text-color;
  }

  &.prevArr {
    margin: 0 0.8rem;

    &.disabled {
      cursor: default;
      color: $disabled-color;
    }
  }

  &.nextArr {
    &.disabled {
      cursor: default;
      color: $disabled-color;
    }
  }
}