@import '_settings.scss';

.te-container {
  width: 100%;
  height: 855px;
  background-color: #ccc;
  padding: 32px;

  .tp-container {
    height: 285px;

    .tp-title {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: 30px;
      line-height: 30px;
      font-size: 21px;
      font-weight: 700;
      color: $dark-text-color;
    }

    .tp-main {
      margin: 16px 0;

      .pl-container {
        
        .pl-img {
          width: 193px;
          height: 193px;

          img {
            width: inherit;
            height: inherit;
            border-radius: 4px;
          }
        }
      }
    }
  }
}