@import '_settings.scss';

$tp-title-height: 30px;

.te-container {
	width: 101%;
	height: 855px;
	padding: 0 32px;
	margin-top: 28px;

	.tp-container {
		position: relative;
		height: 285px;

		.tp-header {
			.tp-title {
				width: -webkit-fit-content;
				width: -moz-fit-content;
				width: fit-content;
				height: $tp-title-height;
				line-height: 30px;
				font-size: 21px;
				font-weight: 700;
				color: $dark-text-color;
			}
		}

		.tp-main {
			margin-top: 16px;

			.swiper {
				position: unset;

				.tp-nav {
					display: flex;
					height: 30px;
					align-items: center;
					position: absolute;
					top: 0;
					right: 0;
					font-size: 18px;
					color: rgba(28, 30, 32, 0.5);
					.cusArrow {
						cursor: pointer;
						transition: all 0.1s ease;

						&:hover {
							color: $main-text-color;
						}

						&.prevArr {
							margin: 0 8px;

							&.disabled {
								cursor: default;
								color: $disabled-color;
							}
						}

						&.nextArr {
							&.disabled {
								cursor: default;
								color: $disabled-color;
							}
						}
					}
				}
			}

			.pl-container {
				padding: 0 8px;

				.pl-img-container {
					position: relative;
					width: 100%;
					border: 1px solid rgba(28, 30, 32, 0.05);
					border-radius: 4px;
					overflow: hidden;
					box-shadow: $box-shadow-effect;
					-webkit-box-shadow: $box-shadow-effect;
					-moz-box-shadow: $box-shadow-effect;
					cursor: pointer;

					&::after {
						content: '';
						display: block;
						padding-bottom: 100%;
					}

					img {
						position: absolute;
						width: 100%;
						height: 100%;
						transition: all 0.25s ease;
					}

					.pl-extensions {
						position: absolute;
						top: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0.5);
						opacity: 0;
						-webkit-transition: opacity 0.25s linear;
						transition: opacity 0.25s linear;
						will-change: opacity;
						.pl-play-btn {
							text-align: center;
							height: 100%;
							display: -webkit-box;
							display: -webkit-flex;
							display: -ms-flexbox;
							display: flex;
							-webkit-align-items: center;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							-webkit-box-pack: center;
							-webkit-justify-content: center;
							-ms-flex-pack: center;
							justify-content: center;

							svg {
								@include transition-effect(0.1s);

								font-size: 36px;
								color: rgba(255, 255, 255, 0.88);
								will-change: opacity, transform;

								&:hover {
									-webkit-transform: scale(1.1);
									-ms-transform: scale(1.1);
									transform: scale(1.1);
								}
							}
						}

						.pl-more {
							position: absolute;
							top: 0px;
							right: 0px;

							svg {
								color: #fff;
								font-size: 26px;
								margin-top: 3px;
							}
						}
					}

					&:hover img {
						transform: scale(1.15);
					}

					&:hover .pl-extensions {
						opacity: 1;
					}
				}

				.pl-title {
					@include transition-effect(0.1s);

					width: -webkit-fit-content;
					width: -moz-fit-content;
					width: fit-content;
					max-width: 100%;
					margin-top: 8px;
					font-size: 14px;
					line-height: 20px;
					font-weight: 500;
					color: $dark-text-color;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					cursor: pointer;
					transition-duration: 0.1s;

					&:hover {
						color: $main-text-color;
					}
				}
			}
		}
	}
}
