@import '_settings.scss';

.hp-main {
	height: 2500px;
	width: calc(100% - #{$left-sidebar-width} - #{$right-sidebar-width});
	margin-left: $left-sidebar-width;
	margin-right: $right-sidebar-width;
	background-color: $homepage-bg-color;

	.loading-container {
		display: flex;
		height: 100vh;
		justify-content: center;
		align-items: center;
	}
}
