@import '_settings.scss';

.hp-main {
	width: calc(100% - #{$left-sidebar-width} - #{$right-sidebar-width});
	margin-left: $left-sidebar-width;
	margin-right: $right-sidebar-width;
	background-color: $homepage-bg-color;

	.loading-container {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		
		height: 100vh;
	}
}
