@import 'settings';

.search-container {
  @include commonMainOutlet;

  .sh-container {
    @include display-flex;
    @include align-items(center);
    @include justify-content(space-between);
    width: 100%;
    height: $search-header-height;
    padding: 0 3.2rem;
    border-bottom: $border-light;

    .search-input-container {
      @include display-flex;
      @include align-items(center);
      @include transition-effect(0.1s);
      position: relative;
      width: 50%;
      height: 4rem;
      border: $border-light;
      border-radius: 0.4rem;
      color: rgba(28, 30, 32, 0.5);
      background-color: rgba(0, 0, 0, 0.02);

      &.focus {
        border-color: $main-text-color !important;
      }

      .search-btn-container {
        @include display-flex;
        @include align-items(center);
        cursor: pointer;
        padding: 1.6rem 1.1rem;

        svg {
          color: rgba(28, 30, 32, 0.5);
          font-size: 1.7rem;
        }
      }

      .search-input-main {
        @include display-flex;
        width: 100%;
        height: 100%;

        .search-input-section {
          @include display-flex;
          @include align-items(center);
          width: 100%;

          input.search-input-content {
            width: 100%;
            line-height: 2rem;
            font-size: 1.4rem;
            color: rgba(28, 30, 32, 0.5);
          }

          .search-suggest-container {
            padding-top: 0.4rem;

            .search-suggest-main {
              background-color: $light-color;
              z-index: 9;
              position: absolute;
              width: calc(100% - -0.2rem);
              left: -0.1rem;
              top: 4.1rem;
              max-height: 40rem;
              overflow-y: auto;

              &.empty {
                padding: 0;
                height: 0;
                width: 0;
              }
            }
          }
        }

        .mask-overlay {
          position: fixed;
          background-color: transparent;
          z-index: 5;
          width: 100%;
          height: 100%;
          display: none;
          top: 0;
          left: 0;
          &.show {
            display: block;
          }
        }

        .search-clear-btn {
          @include display-flex;
          @include align-items(center);
          cursor: pointer;
          padding: 1.6rem 1.1rem;

          svg {
            font-size: 1.6rem;
            color: rgba(28, 30, 32, 0.5);
            font-weight: 700;
          }
        }
      }
    }
  }
}
