@import 'settings';

.top-result-container {
  position: relative;
  padding-top: 4rem;

  .tr-title {
    width: 100%;
    padding: 3.2rem 3.2rem 0;

    &-lead {
      @include fitContentWidth;
      height: 3rem;
      line-height: 3rem;
      font-size: 2.2rem;
      font-weight: 600;
      color: rgba(28,30,32,0.88);
    }
  }

  .tr-main {
    @include display-flex;
    @include align-items(center);
    padding: 2.4rem 3.2rem;
    background-color: rgba(0,0,0,0.02);
    margin-top: 1.6rem;
    .tr-swiper {

      .tr-slider {
        .tr-thumb-container {
          max-width: calc(100% - 20.2rem);

          .tr-thumb-main {
            width: 16rem;
            height: 16rem;
          }
        }
      }
    }
  }
}