@import 'settings';

li {
  .customDots {
    width: 7px;
    height: 7px;
    border-radius: 5px;
    transition: all 0.25s ease;
    background-color: rgba(28, 30, 32, 0.1);
  }

  &.slick-active {
    .customDots {
      width: 15px;
      background-color: $main-text-color;
    }
  }
}
