@import 'settings';

li {
  .customDots {
    @include dark-color-text(0.1);
    width: 7px;
    height: 7px;
    border-radius: 5px;
    transition: all 0.25s ease;
  }

  &.slick-active {
    .customDots {
      width: 15px;
      background-color: $main-text-color;
    }
  }
}
