@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Color
$light-color: #fafafa;
$homepage-bg-color: #f6f6f6;
$dark-text-color: rgba(28, 30, 32, 0.88);
$main-text-color: #2daaed;
$box-shadow-effect: 0 4px 8px rgba(0, 0, 0, 0.2);
$disabled-color: rgba(28, 30, 32, 0.2);

// Mixin
@mixin transition-effect($time) {
	transition: all $time ease;
	-webkit-transition: all $time ease;
	-moz-transition: all $time ease;
}

@mixin display-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin align-items($value) {
	-webkit-align-items: $value;
	-webkit-box-align: $value;
	-ms-flex-align: $value;
	align-items: $value;
}

@mixin justify-content($value) {
	-webkit-box-pack: $value;
	-webkit-justify-content: $value;
	-ms-flex-pack: $value;
	justify-content: $value;
}

@mixin flexCenter {
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);
}

@mixin hoverMainColor {
	&:hover {
		color: $main-text-color;
	}
}

@mixin fitContentWidth {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

@mixin transform-effect($value) {
	-webkit-transform: $value;
	-ms-transform: $value;
	transform: $value;
}

@mixin dark-color-text($value) {
	color: rgba(28, 30, 32, $value);
}

@mixin main-title-scss {
	@include dark-color-text(0.88);
		margin-top: 40px;
		margin-left: 32px;
		font-size: 24px;
		font-weight: 700;
		text-transform: capitalize;
		a {
			@include transition-effect(0.1s);
			@include hoverMainColor;
		}
}

// Size
$left-sidebar-width: 200px;
$right-sidebar-width: 320px;

// Screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';
