@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Variable
$left-sidebar-width: 200px;
$right-sidebar-width: 320px;

$homepage-bg-color: #F6F6F6;

$dark-text-color: rgba(28,30,32,0.88);

// Screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';