@import '_settings.scss';

body {
	font-family: 'Montserrat', sans-serif;
	color: $dark-text-color;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

a, div, span {
	outline: none;
}

*, :after, :before {
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}