@import 'settings';

.common-song-container {
  position: relative;
  width: 100%;
  height: 7.2rem;
  border-radius: 0.4rem;

  .cs-img-container {
    @include useBorder;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: .4rem;
    margin: .8rem;
  }
}